@charset "UTF-8";


h1{
  font-size: 5vh;
  letter-spacing: -1px;
  color: rgb(61,64,66);
  text-align:left;
  margin-top: -6px;
  margin-left: 1vw;
  margin-bottom: 10px;
  height:inherit;
  //border-color: black;
  border-bottom: solid 5px  rgba(61,64,66,0.8);
  border-bottom-width: thin;
}

.name{
  font-family: 'Playfair Display', serif;
  font-weight:light;
  margin-top: 35vh;
  font-size: 6.5vw;
  color: rgb(95, 99, 102);
  //color: rgb(118,123,127);
  line-height: 0.8em;
  letter-spacing: -2px;
  text-align: center;

}

.pd{
  margin-top: 0vh;
  font-size: 2.5vw;
  color: white;
  text-align: center;
}

#quote{
  margin-top: -10px;
  font-size: 2vw;
  font-family: 'Playball', cursive;
  text-align: center;
  color: gray;
  text-shadow: .1px .3px 10px #000;
}

html,body{
  padding: 0;
  margin:0;
  height 100vh;
  width 100vw;
}

body {
  padding: none;
  font-family: 'Playfair Display', serif;
  font-weight: bold;
  color:white;
  font-size: 18px;
  line-height: 1.5;
  max-height: 100%
  text-align: center;
  width:100vw;
  height:100vh;
}

nav{
  font-size: 1.8vh;
  //font-family: 'Pavanam', sans-serif;
  text-align: right;
  padding-top: 4.7vh;
  margin-left:-1.2vw;
  position:fixed;
  width: 100%;
  padding-bottom: 5vh;
  //background-blend-mode: soft-light;
  text-shadow: .8px -.8px .8px #FFF;
}

nav a{
  text-decoration: white;
	//color:#444;
  color: rgb(21, 81, 81,1);
  //display: inline;
  padding-right: .5vw;
  padding-left: 1vw;
}

#top{
  background-image: url("images/welcome.jpg");
  width:100vw;
  height:100vh;
  background-size: cover;
  background-position:bottom;
  background-attachment: fixed;
  padding-bottom: 10vh;
}

#second{
	background-image:url("images/lake.jpg");
	background-position:center;
  background-attachment: fixed;
	background-size:cover;
	width:100vw;
  height:100vh;
}

#firstword{
  margin-top: -50px;
}

h2{
  align-content:center;
  padding-left: 18vw;
  padding-top:35vh;
  font-size: 4vw;
}

#second p{
  text-align:left;
  font-size:4.5vh;
  padding-left:52vw;
  //padding-right:50px;
}

#third{
	background-position:bottom;
	background-image: url("images/aerialView.jpg");
  //-webkit-filter: grayscale(100%);
	background-attachment: scroll;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	width:100vw;
	height:120vh;
}

.fill{
	width:100vw;
  //height:22vh;
	height: 20vh;
  background-color:rgba(6, 17, 14,.96);
}

.clear{
  width:100vw;
	//height:27vh;
  height: 30vh;
}

#space{
	min-height:10vh;
	padding-bottom:0;

}

#work{
	height:800vh;
  width: 30vw;
	padding-left:10vw;
	padding-right:5vw;
  font-size: 1.5vw;
	overflow: hidden;
}

::-webkit-scrollbar {
  width: 0px;
  background: transparent; /* make scrollbar transparent */
}

#experience{
	width:100vw;
  text-shadow: .8px .8px 1px #000;
	height:100vh;
	background:url("images/city.jpg");
	background-size:cover;
	background-position:right;
  background-attachment: fixed;
	background-repeat:no-repeat;

}

#designWords{
  text-align:center;
  font-size: 3vw;
  padding-top:35vh;
  padding-right: 3vw;
  //padding-top: 80vh;
}

#vox{
	background-color:rgba(4, 5, 4,0.4);
	width:50vw;
	height:100vh;
	float:left;
	font-size:2vh;
}


#me{
  margin-top:-9vh;
	background-repeat: no-repeat;
	height:100vh;
	width:100vw;
	background-size: cover;
  background-attachment: fixed;
  //padding-bottom: 5vh;
  background-position: center;
  //-webkit-filter: grayscale(50%);
  background-image: url("images/streetView.jpg");
}


#contact{
	color:white;
  padding-right: 3vw;
  float:right;
 	list-style:none;
	padding-top:3vh;
}

#contact li{
  text-align: right;
}

#bio{
  margin-left: 20vw;
  margin-right: 20vw;
  padding-left: 3vw;
  padding-right: 3vw;
  padding-top:1vw;
  padding-bottom:1vw;
  background-color: rgba(4, 5, 4,0.4);
}

#bio p{
	font-size:2.3vh;
}

#space{
  //margin-top: 20%;
}

#box{ /*Skills shading*/

	background-color:rgba(4, 5, 4,0.25);
	width:50vw;
	height:100vh;
  float:left;
}

.tab {
  text-indent:60px;
}

#speak{
  font-size: 9vh;
  text-align: left;
  margin-left:20px;
  padding-top:10px;
}

#english{
  font-size: 7vh;
  margin-top: -14vh;
  text-align: left;
  margin-left:7vw;
}

.trans{
  margin-top: 100px;
  padding-bottom: 100px;
  margin-left: 100px;
  margin-right: 100px;
  background:rgba(41, 41, 41, 0.3);
}

.picture{
  background: white;
}

#words{
  margin-top: 1%;
}


#experience li{
  list-style: circle;
  font-size: 2.4vh;
}


.jobTitle {
  text-shadow: .8px .8px 1px #000;
  color:rgba(51, 204, 204,.9);
}


#purple{
  color: rgba(205, 125, 242, 1);
  text-align: center;
}

a:link#cv,
a:visited#cv{
  color: rgba(51, 204, 204,.9);
  background-color: transparent;
  text-decoration: none;
}

a:hover#cv{
  color: #BCA9F5;
  background-color: transparent;
  text-decoration: underline;
}
